*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    margin: 0;
}