.navbar {
  width: 100%;
  margin:0 auto;
  height: 150px;
  display: flex;
  background-color: #222;
  justify-content: space-between;
  box-sizing: border-box;

}

.navbar-btns {
  align-items: center;
  padding: 50px 5%;
}

button, a {
  display: inline-block;
  margin: 5px 15px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar-btns button:hover {
  background-color: rgba(166, 166, 166, 0.8);
  color: #000;
}

.navbar-btns button {
  padding: 10px 25px;
  background-color: rgba(114, 114, 114, 0.45);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: #ffff;
}

.navbar-btns a{
  text-color: white;
}



.cart {
  height: 50px;
  margin: 50px;
}